<body class="share-page">
<div id="wrapper">
  <div id="main" role="main">
    <div id="main-content">
      <div class="container">
        <div class="row portfolio-boxes isotope" id="portfolio-container">
          <% posts&&posts.forEach(function(item){ %>
          <div class="col-sm-3 portfolio-box portfolio-filter-photography portfolio-filter-webdesign portfolio-item isotope-item">
            <a href="<%=item.file_path%>" title="<%=item.title%>" target="_blank">
              <div class="image-link">
                <i class="fa fa-search"></i>
                <img class="img-responsive img-rounded center-block" alt="<%=item.title%>" width="263" height="171"
                     src="<%=item.preview_url%>" onerror="this.src='http://r.ph.126.net/image/default/duser.png'">
              </div>
              <h3 class="title"><%=item.title%></h3>
              <p class="category"><%=item.description%></p>
            </a>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>